@page
@model J72443Restaurant.Pages.Admin.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<link href="~/css/fix.css" rel="stylesheet" />

<div id="editMenu">


    <div class="main-container">





        <div id="img-zoomer-box">
            <img id="img1" src="@Url.Content("~/" + Model.food.Image)" alt="@Model.food.Image" />
            <div id="img2"></div>
        </div>

        <h2>Menu: @Model.food.FoodName</h2>

        <form method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>
                        <label>Name: </label>
                        <div>
                            <input asp-for="food.ID" type="hidden" />
                            <input asp-for="food.FoodName">
                        </div>
                    </td>

                    <td>
                        <label>Price </label>
                        <div>
                            <input asp-for="food.Price">
                        </div>
                    </td>

                    <td>
                        <label>Description: </label>
                        <div>
                            <input asp-for="food.Description">
                        </div>
                    </td>

                    <td>
                        <label>Select Image</label>
                        <div>
                            <input type="file" name="Pic" />
                        </div>
                    </td>

                    <td>
                        <div><button type="submit" asp-page-handler="Save">Save</button></div>
                    </td>
                </tr>
            </table>
        </form>

    </div>

</div>