
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/js/all.js"></script>

    <link rel="stylesheet" href="~/css/style.css" />
    <script>
        function openSlideMenu() {
            document.getElementById('menu').style.width = '250px';
            document.getElementById('content').style.marginLeft = '250px';
        }

        function closeSlideMenu() {
            document.getElementById('menu').style.width = '0';
            document.getElementById('content').style.marginLeft = '0';
        }
    </script>

</head>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using J72443Restaurant.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<body class="homePage addMenuPage">

    <div id="content">

        <span class="slide">
            <a href="#" onclick="openSlideMenu()">
                <i class="fas fa-bars"></i>
            </a>
        </span>

        <div id="menu" class="nav">
            <a href="#" class="close" onclick="closeSlideMenu()">
                <i class="fas fa-times"></i>
            </a>

            @if (SignInManager.IsSignedIn(User))
            {
                <a id="displayUserName">Hello @UserManager.GetUserName(User)</a>
            }
            <a asp-page="/Index">Home</a>

            @if (User.IsInRole("Admin"))
            {
                <a asp-page="/Admin/addmenu">Add Menu</a>
            }
            <a asp-page="/menuList">Our Menu</a>
            <a asp-page="/Contact">Contact</a>

            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button id="logout" type="submit">Logout </button>
                </form>
            }
            else
            {
                <a asp-page="/Account/Login">Login</a>
            }

            @if (User.IsInRole("Admin"))
            {
                <a>Only admin users can see this!</a>
            }

        </div>
    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("toggle");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

    <div>
        @RenderBody()
    </div>

    <div class="clear"></div>

    <footer>

        <div id="footer">
            <ul>
                <li><a href="#">&copy; Mahmud Syakiran 2020 - Web App Assignment | </a></li>
                <li><a href="http://validator.w3.org/check?uri=referer">Validate-HTML | </a></li>
                <li><a href="http://jigsaw.w3.org/css-validator/check/referer">Validate-CSS | </a></li>
                <li> <a asp-page="#">Admin</a></li>

            </ul>
        </div>

    </footer>


    @RenderSection("Scripts", required: false)

</body>

</html>
