<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/js/all.js"></script>

    <link rel="stylesheet" href="~/css/style.css" />
    <script>
            function openSlideMenu() {
                document.getElementById('menu').style.width = '250px';
                document.getElementById('content').style.marginLeft = '250px';
            }
            function closeSlideMenu() {
                document.getElementById('menu').style.width = '0';
                document.getElementById('content').style.marginLeft = '0';
            }
    </script>

</head>
<body>

    <div id="content">

        <span class="slide">
            <a href="#" onclick="openSlideMenu()">
                <i class="fas fa-bars"></i>
            </a>
        </span>

        <div id="menu" class="nav">
            <a href="#" class="close" onclick="closeSlideMenu()">
                <i class="fas fa-times"></i>
            </a>
            <a href="Index">Home</a>
            <a href="Contact">Contact</a>
            <a href="Menus">Menus</a>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>

    <footer>
        <div class="footer-right">
            <p>&copy; Mahmud Syakiran 2020 - Web App Assignment</p>
        </div>
        <div class="footer-left">
            <a href="http://validator.w3.org/check?uri=referer">Validate-HTML</a>
            <a href="http://jigsaw.w3.org/css-validator/check/referer">Validate-CSS</a>
            <a asp-page="#">Admin</a>
        </div>
    </footer>

    <script src="~/js/typed.min.js"></script>
    <script>
        var typed = new Typed(".typed", {
            strings: ["Best Restaurant in UK.", "Ten Times Chef's World Champion.", "Premium Meals."],
            typeSpeed: 70,
            loop: true,
            startDelay: 1000,
            showCursor: false
        });
                    //Because I am using jQuery, I need to call the plugin from typed.min.js
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
