@page
@model J72443Restaurant.Pages.Account.MessageSuccessModel
@{
    ViewData["Title"] = "MessageSuccess";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="main-container">
    <h2>Thank your for the message, we will reply as soon as possible!</h2>
</div>
