@page
@model J72443Restaurant.Pages.Account.PaymentReceivedModel
@{
    ViewData["Title"] = "PaymentReceived";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="main-container">
    <h2>Your Order is successful!</h2>
</div>

