@page
@model J72443Restaurant.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="~/css/map.css" rel="stylesheet" />


<div id="contactPage" class="container">
    <div class="innerwrap">

        <section class="section1 clearfix">
            <h1>Contact Us</h1>
        </section>

        <section class="section2 clearfix">
            <div class="col2 column1 first">
                <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
                <div class="sect2gmap">
                    <div id='gmap_canvas'></div>
                    <div><small><a href="http://embedgooglemaps.com"> embed google maps </a></small></div>
                    <div><small><a href="http://freedirectorysubmissionsites.com/">free web directories</a></small></div>
                </div>

                <script type='text/javascript'>
                    function init_map() {
                        var myOptions = {
                            zoom: 18,
                            center: new google.maps.LatLng(4.885756, 114.931676),
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };
                        map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
                        marker = new google.maps.Marker({
                            map: map,
                            position: new google.maps.LatLng(4.885756, 114.931676)
                        });
                        infowindow = new google.maps.InfoWindow({
                            content: '<strong>Location</strong><br>Find Us Here<br>'
                        });
                        google.maps.event.addListener(marker, 'click', function () {
                            infowindow.open(map, marker);
                        });
                        infowindow.open(map, marker);
                    }
                    google.maps.event.addDomListener(window, 'load', init_map);
                </script>

            </div>
            <div class="col2 column2 last">
                <div class="contactform">
                    <h3 class="formtitle">Contact Form</h3>
                    <form class="form form-horizontal" method="post">
                        <div asp-validation-summary="All"></div>
                        <div class="clearfix">
                            <input asp-for="Contact.Name" class="form-control" placeholder="First Name"/>
                            <span asp-validation-for="Contact.Name"></span>

                            <input asp-for="Contact.LastName" class="form-control" placeholder="Last Name" />
                            <span asp-validation-for="Contact.LastName"></span>

                        </div>
                        <div class="clearfix">
                            <input asp-for="Contact.Email" class="form-control" placeholder="Your Email" />
                            <span asp-validation-for="Contact.Email"></span>
                        </div>
                        <div class="clearfix">
                            <textarea asp-for="Contact.Message" rows="6" class="form-control" placeholder="Your Message..."></textarea>
                            <span asp-validation-for="Contact.Message"></span>
                        </div>

                        <button type="submit">Send</button>
                    </form>
                </div>

            </div>
        </section>

    </div>
</div>

