@page
@model J72443Restaurant.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@using Microsoft.AspNetCore.Identity
@using J72443Restaurant.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link href="~/css/stylesheet.css" rel="stylesheet" />

<div id="container">
    <div id="main">


        <div class="bgimg-1">
            <div class="caption">
                <div class="titleMessage">
                    <div class="heading caption">
                        <span class="main border">HALAL RESTAURANT</span>
                        <p class="sub typed"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="article-1">
            <h3>Our Special Menus</h3>
            <br />
            <p>
                Enjoy our special menu with 20% discount for purchase $100 above! Free Medium Coca Cola with a $1 Minimum Purchase. More discounts to come. Stay tuned for our latest offer!
            </p>


            <div class="indexContainer">

                @foreach (var fd in Model.food)
                {
 
                    <img class="breakpoint three-columns" src="@Url.Content("~")\@fd.Image" alt="@fd.Image" />
                   
      
                }

            </div>

            <div class="ViewAllMenu">
                <a asp-page="/menuList">View All Menu</a>
            </div>


        </div>
        <div class="bgimg-2">
            <div class="caption">
                <span class="border">FREE DELIVERY</span>
            </div>
        </div>

        <div class="article-2">
            <div class="caption-2">
                <p>Free Medium Fries with a $1 Minimum Purchase.</p>
            </div>
        </div>

        <div class="bgimg-3">
            <div class="caption">
                <span class="border">BEST IN TOWN</span>
            </div>
        </div>

        <div class="article-3">
            <div class="caption-3">
                <p>We also support Uber Eat! Just download Uber Eat app, enter your location, choose HALAL Restaurant, and order!.</p>
            </div>
        </div>

        <div class="bgimg-1">
            <div class="caption">
                <span class="border">VISIT OUR STORE!</span>
            </div>
        </div>
    </div>
</div>

<script src="~/js/typed.min.js"></script>
<script>
    var typed = new Typed(".typed", {
        strings: ["Best Restaurant in UK.", "Ten Times Chef's World Champion.", "Premium Meals."],
        typeSpeed: 70,
        loop: true,
        startDelay: 1000,
        showCursor: false
    });
                    //Because I am using jQuery, I need to call the plugin from typed.min.js
</script>
