@page
@model J72443Restaurant.Pages.userLoginModel
@{
    ViewData["Title"] = "userLogin";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}
<link href="" rel="stylesheet" />

<div id="userLogin">
    <div class="container">
        <div class="form">
            <form>
                <h1>Login</h1>
                <label>Username</label>
                <input type="text" name="" id="" placeholder="Username" />
                <label>Password</label>
                <input type="password" name="" id="" placeholder="Password" />
                <!-- <input type="submit" value="Login" /> -->
                <input type="button" value="Login" />
                <label id="forgotpwd">Forgot Password? <a href="#">Click Here</a></label>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script>https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js</script>